:root{
    margin: 1px;
    padding: 1px;
    font-family: calculator;
}

@font-face {
    font-family: calculator;
    src: url(fonts/pocket-calculator/pocket_calcuatlor_ot.otf);
}

.calculatorbody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    border: solid rgb(210, 208, 230) 2px;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5), inset 0px 5px 15px rgba(255,255,255,0.5);
    
    width: 400px;
    height: 400px;    
}

.screen{
    border: solid rgb(210, 208, 230) 2px;
    border-radius: 8px;
    margin-top: 40px;
    min-width: 170px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.curnum {
font-size: 20px;
text-align: right;
}

.numbergrid{
    display: grid flex;
    flex-direction: row;
    border-radius: 50%;    
    padding: 5px;
    width: 250px;
    height: 250px;
}

.center{
    padding-left: 5px;
}

.btn{
    margin-top: 20px;
    margin-left: 10px;
    border: dotted rgb(161, 159, 177) 1.56789px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5), inset 0px 5px 15px rgba(255,255,255,0.5);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 20px;
}

.curve{
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.funk{
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(200,200,200,1) 100%);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5), inset 0px 5px 15px rgba(255,255,255,0.5);
    border: dotted rgb(161, 159, 177) 1.56789px;
    border-radius: 50%;
}

